.navbar {
  width: 100%;
  background-color: #3b3b3a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 14px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar__logo {
  margin-left: 1rem;
  display: flex;
  color: #f4f4f4;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.logo_image {
  width:50px !important;
  align-items: center;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar__shop {
  margin-right: 1rem;
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.search_box {
  display: flex;
  padding: 6px;
  height: 40px;
  width: 250px;
  border-radius: 2px;
  border: none;
  margin-right: 16px;
  font-size: 17px;
}

.cart__link {
  background: #333;
  padding: 10px;
  border-radius: 8px;
}

.cart__link:hover {
  background: #9c9a9c;
  color: #f4f4f4;
}

.cartlogo__badge {
  width: 30px;
  height: 30px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin-left: 8px;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.hamburger__menu {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.shop__link:hover {
  height: 40px;
  width: 80px;
  background-color: #f4f4f4;
  border-radius: 12px;
  font-weight: bolder;
  color: #5e5b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.hamburger__menu:hover > div {
  background: #7a797a;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: #f4f4f4;
}

@media (max-width: 960px) {
  .navbar__links {
    display: none;
  }

  .hamburger__menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1rem;
  }
}
